@{
    ViewData["title"] = "Branch";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Add Branch</div>
            </div>
            <div class="card-body">
                <form asp-action="Branch" action="post">
                    
                </form>
            </div>
        </div>
    </div>
</div>
