 <div class="container">
          <div class="page-inner"> 
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <div class="card-title">Add Company</div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6 col-lg-4">
                        <div class="form-group">
                          <label for="email2">Email Address</label>
                          <input type="email"class="form-control"id="email2"placeholder="Enter Email"/>
                        </div>
                        <div class="form-group">
                          <label for="password">Password</label>
                          <input
                            type="password"
                            class="form-control"
                            id="password"
                            placeholder="Password"
                          />
                        </div>
                        <div class="form-group form-inline">
                          <label
                            for="inlineinput"
                            class="col-md-3 col-form-label"
                            >Inline Input</label
                          >
                          <div class="col-md-9 p-0">
                            <input
                              type="text"
                              class="form-control input-full"
                              id="inlineinput"
                              placeholder="Enter Input"
                            />
                          </div>
                        </div>                                                                    
                        <div class="form-group">
                          <label for="exampleFormControlFile1"
                            >Example file input</label
                          >
                          <input
                            type="file"
                            class="form-control-file"
                            id="exampleFormControlFile1"
                          />
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-4">
                      
                        <div class="form-group">
                          <label for="basic-url">Your vanity URL</label>
                          <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon3"
                              >https://example.com/users/</span>
                            <input
                              type="text"
                              class="form-control"
                              id="basic-url"
                              aria-describedby="basic-addon3"
                            />
                          </div>
                        </div>
                          <div class="selectgroup w-100">
                            <label class="selectgroup-item">
                              <input
                                type="radio"
                                name="value"
                                value="50"
                                class="selectgroup-input"
                                checked=""
                              />
                              <span class="selectgroup-button">S</span>
                            </label>
                            <label class="selectgroup-item">
                              <input
                                type="radio"
                                name="value"
                                value="100"
                                class="selectgroup-input"
                              />
                              <span class="selectgroup-button">M</span>
                            </label>
                            <label class="selectgroup-item">
                              <input
                                type="radio"
                                name="value"
                                value="150"
                                class="selectgroup-input"
                              />
                              <span class="selectgroup-button">L</span>
                            </label>
                            <label class="selectgroup-item">
                              <input
                                type="radio"
                                name="value"
                                value="200"
                                class="selectgroup-input"
                              />
                              <span class="selectgroup-button">XL</span>
                            </label>
                          </div>
                        </div>
                      </div>                     
                    </div>
                  </div>
                  <div class="card-action">
                    <button class="btn btn-success">Submit</button>
                    <button class="btn btn-danger">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

    
