@model SynergyAccounts.DTOS.AuthDto.LoginDto

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutWithoutNav.cshtml";
}


<div class="login-card">
    <h3 class="text-center mb-4">SynergyAccount</h3>

    <p> Don't have an account ? <a asp-controller="Auth" asp-action="Register"
            style="text-decoration: underline;">Create one</a></p>
    <form method="post">
        <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input type="email" class="form-control" id="Email" name="Email" required />
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <input type="password" class="form-control" id="Password" name="Password" required />
    using SynergyAccounts.DTOS.AuthDto;
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>

    @if (ViewData.ModelState.ErrorCount > 0)
    {
        <div class="alert alert-danger mt-3">
            Invalid login attempt. Please check your email and password.
        </div>
    }
</div>
